<form name='editForm' class="container-fluid" ng-init="$ctrl.init()" novalidate>
  <div class="row btn-bar">
    <button class="btn btn-default col-md-1" ng-click="$ctrl.readonly = false;"
            ng-disabled="!$ctrl.readonly" ng-class='{disabled : !$ctrl.readonly}'>
      Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default col-md-1" ng-click="$ctrl.readonly = false;" ng-hide="$ctrl.readonly">
      Update <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default col-md-1" ng-click="$ctrl.readonly = true;" ng-hide="$ctrl.readonly">
      Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
    <fieldset>
    <legend>Details</legend>
    <div class="row extra-bottom-padding">
      <div class="col-md-6">
        <div class='row'>
          <input-text class='form-group col-md-12' required='true' name="company"
                      label="Company / Supplier" placeholder="Company / Supplier" 
                      model="$ctrl.supplier.company" field='createForm.company'
                      readonly='$ctrl.readonly'></input-text>
        </div>
        <div class='row'>
          <label class='col-md-4' for="govtManaged">Gov&apos;t Managed</label>
          <label class="col-md-8" for='certificate'>Certificate</label>
        </div>
        <div class='row'>
          <span class='col-md-offset-1 col-md-1'>
            <input type='checkbox' id='govtManaged' name='govtManaged' 
                   ng-model="$ctrl.supplier.govtManaged" ng-disabled='$ctrl.readonly'>
          </span>
          <div class='col-md-8 col-md-offset-2'>
            <select name="certificate" class="form-control" model='$ctrl.supplier.certType'
                    ng-disabled='$ctrl.readonly'>
              <option value='None'>None</option>
              <option value='IFFO'>IFFO</option>
              <option value='MSC'>MSC</option>
              <option value='ASC'>ASC</option>
              <option value='RTRS'>RTRS</option>
            </select>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class='control-label no-margin' for='supplierSite'>Site</label>
        <tags-input name='supplierSite' placeholder="Add a site" class='sites'
                    ng-model="$ctrl.supplier.site" ng-disabled='$ctrl.readonly'></tags-input>
      </div>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name="materials" 
                  label="Materials" placeholder="Materials" 
                  model="$ctrl.supplier.materials" field='createForm.materials'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='productCode'
                  label='Product Code' placeholder='Product Code' 
                  model="$ctrl.supplier.productCode" field='createForm.productCode'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='countryOfOrigin'
                  label='Country Of Origin' placeholder='Country Of Origin'
                  model="$ctrl.supplier.countryOfOrigin" field='createForm.countryOfOrigin'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' name='sanipesWebsite'
                  label='SANIPES Website' placeholder='SANIPES Website'
                  model="$ctrl.supplier.sanipesWebsite" field='createForm.sanipesWebsite'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='companyWebsite'
                  label='Company Website' placeholder='Company Website'
                  model="$ctrl.supplier.companyWebsite" field='createForm.companyWebsite'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='companyCertificate'
                  label='Company Certificates' placeholder='Company Certificates'
                  model="$ctrl.supplier.companyCertificate" field='createForm.companyCertificate'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' name='fishSpecies'
                  label='Fish Species' placeholder='Fish Species'
                  model="$ctrl.supplier.fishSpecies" field='createForm.fishSpecies'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='speciesCertification'
                  label='Species Certification' placeholder='Species Certification'
                  model="$ctrl.supplier.speciesCertification" field='createForm.speciesCertification'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='iucnStatus'
                  label='IUCN status' placeholder='IUCN status'
                  model="$ctrl.supplier.iucnStatus" field='createForm.iucnStatus'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' name='certificatSupplied'
                  label='Ridley Species Certificate Supplied' placeholder='Ridley Species Certificate Supplied'
                  model="$ctrl.supplier.certificatSupplied" field='createForm.certificatSupplied'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='auditRecordSupplied'
                  label='Ridley RS Audit Record Supplied' placeholder='Ridley RS Audit Record Supplied'
                  model="$ctrl.supplier.auditRecordSupplied" field='createForm.auditRecordSupplied'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='qms' label='QMS' placeholder='QMS' 
                  model="$ctrl.supplier.qms" field='createForm.qms' readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' name='expiryDates'
                  label='MSC/IFFO/ASC/RTRS Expiry Dates' placeholder='MSC/IFFO/ASC/RTRS Expiry Dates'
                  model="$ctrl.supplier.expiryDates" field='createForm.expiryDates'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='link'
                  label='Link (IFFO/MSC/ASC/RTRS websites)' placeholder='Link (IFFO/MSC/ASC/RTRS websites)'
                  model="$ctrl.supplier.link" field='createForm.link' readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='catchMethod'
                  label='Catching Method' placeholder='Catching Method'
                  model="$ctrl.supplier.catchMethod" field='createForm.catchMethod'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' name='faoArea'
                  label='FAO area / CCAMLR area' placeholder='FAO area / CCAMLR area'
                  model="$ctrl.supplier.faoArea" field='createForm.faoArea'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='faoDesc'
                  label='FAO Description of Location' placeholder='FAO Description of Location'
                  model="$ctrl.supplier.faoDesc" field='createForm.faoDesc'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' name='faoLink'
                  label='FAO Link' placeholder='FAO Link'
                  model="$ctrl.supplier.faoLink" field='createForm.faoLink'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
    </div>
  </fieldset>
  <fieldset>
    <legend class="margin-bottom-5px">Additional Certificates</legend>
    <table id="certificate-table" class="table table-hover">
      <tr ng-repeat="item in $ctrl.supplier.extraCerts track by $index">
        <td>{{item.cert}}</td>
        <td>{{item.info}}</td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.removeExtraCertificate($index)">
            <span class="glyphicon glyphicon-minus" ng-hide='$ctrl.readonly'></span>
          </button>
        </td>
      </tr>
      <tr ng-hide='$ctrl.readonly'>
        <td>
          <select class="form-control" ng-model="$ctrl.extraCert">
            <option value="ISO 9001">ISO 9001 certification</option>
            <option value="ISO 14000">ISO 14000 certification</option>
            <option value="ISO 18000">ISO 18000 certification</option>
            <option value="ISO 22000">ISO 22000 certification</option>
            <option value="CCAMLR">CCAMLR certification</option>
            <option value="BAP">BAP certification</option>
            <option value="Global G.A.P.">Global G.A.P. certification</option>
            <option value="HACCP">HACCP certification</option>
            <option value="GMP">GMP certification</option>
            <option value="WWF">WWF certification</option>
            <option value="NOFIMA certification">NOFIMA certification</option>
            <option value="Debio Organic certification">Debio Organic certification</option>
            <option value="Dolphin Safe certification">Dolphin Safe certification</option>
            <option value="FEMAS">FEMAS certification</option>
            <option value="Friends of the Sea">Friends of the Sea certification</option>
            <option value="Naturland organic">Naturland organic certification</option>
            <option value="BASC">BASC certification</option>
            <option value="BSE Free">BSE Free Certificate</option>
            <option value="MSC CoC">MSC CoC Certification</option>
          </select>
        </td>
        <td>
          <input type="text" ng-model="$ctrl.extraCertInfo" class="form-control" placeholder="Information">
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraCertificate()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend class="margin-bottom-5px">Extra Information (Section 1)</legend>
    <table id="extra-info-section-1" class="table table-hover">
      <tr ng-repeat="item in $ctrl.supplier.extraData1 track by $index">
        <td>{{item.cert}}</td>
        <td>{{item.info}}</td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.removeExtraData1($index)">
            <span class="glyphicon glyphicon-minus" ng-hide='$ctrl.readonly'></span>
          </button>
        </td>
      </tr>
      <tr ng-hide='$ctrl.readonly'>
        <td>
          <select class="form-control" ng-model="$ctrl.extraData1">
            <option value="1">Species are advised on shipping paperwork</option>
            <option value="2">CoA's provided with each shipment</option>
            <option value="3">CoA's are from 3rd party testing</option>
            <option value="4">Antioxidant added</option>
            <option value="5">IUCN declaration</option>
            <option value="6">IUU declaration</option>
            <option value="7">Declaration stating exclusion of slave/child labour/contravene of human rights</option>
            <option value="8">Supplier have 3rd party verification of compliance to human rights declaration</option>
            <option value="9">Manufacturers Declaration statements required for export to NZ in shipping docs</option>
            <option value="10">Import statements are in shipping docs</option>
            <option value="11">Ruminant statement requirements are in shipping docs</option>
            <option value="12">By product/Trimmings of processing</option>
            <option value="13">Percentage of By product/Trimmings</option>
            <option value="14">Farmed material</option>
            <option value="15">Salmonella Testing stated</option>
            <option value="16">Shigella testing stated</option>
            <option value="17">BSE Free Certificate</option>
            <option value="18">If materials are treated with chemicals or pesticides this is noted in paperwork</option>
          </select>
        </td>
        <td>
          <input type="text" ng-model="$ctrl.extraData1Info" class="form-control fill" placeholder="Information">
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraData1()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend class="margin-bottom-5px">Extra Information (Section 2)</legend>
    <table id="extra-info-section-2" class="table table-hover">
      <tr ng-repeat="item in $ctrl.supplier.extraData2 track by $index">
        <td>{{item.cert}}</td>
        <td>{{item.info}}</td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.removeExtraData2($index)">
            <span class="glyphicon glyphicon-minus" ng-hide='$ctrl.readonly'></span>
          </button>
        </td>
      </tr>
      <tr ng-hide='$ctrl.readonly'>
        <td>
          <select class="form-control" ng-model="$ctrl.extraData2">
            <option value="1">Evidence of traceability back to fishery/vessels</option>
            <option value="2">Product Specifications supplied</option>
            <option value="3">Pre-shipment samples sent to Ridley</option>
            <option value="4">Batch samples arrive with goods</option>
            <option value="5">&lt;1 NCR in 12 months related to products</option>
            <option value="6">&lt;1 NCR in 12 months related to delivery</option>
            <option value="7">&lt;1 DAWR Issue in previous 12 months customs/import</option>
          </select>
        </td>
        <td>
          <input type="text" ng-model="$ctrl.extraData2Info" class="form-control" placeholder="Information">
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraData2()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </tr>
    </table>
  </fieldset>
<!--  <fieldset>
    <legend>Mandatory</legend>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name="materials"
                  label="Materials" placeholder="Materials"
                  model="$ctrl.supplier.materials" field='editForm.materials'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='productCode'
                  label='Product Code' placeholder='Product Code' 
                  model="$ctrl.supplier.productCode" field='editForm.productCode'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='countryOfOrigin'
                  label='Country Of Origin' placeholder='Country Of Origin'
                  model="$ctrl.supplier.countryOfOrigin" field='editForm.countryOfOrigin'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='sanipesWebsite'
                  label='SANIPES Website' placeholder='SANIPES Website'
                  model="$ctrl.supplier.sanipesWebsite" field='editForm.sanipesWebsite'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name="company"
                  label="Company / Supplier" placeholder="Company / Supplier" 
                  model="$ctrl.supplier.company" field='editForm.company'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='companyWebsite'
                  label='Company Website' placeholder='Company Website'
                  model="$ctrl.supplier.companyWebsite" field='editForm.companyWebsite'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='companyCertificate'
                  label='Company Certificates' placeholder='Company Certificates'
                  model="$ctrl.supplier.companyCertificate" field='editForm.companyCertificate'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='fishSpecies'
                  label='Fish Species' placeholder='Fish Species'
                  model="$ctrl.supplier.fishSpecies" field='editForm.fishSpecies'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='iucnStatus'
                  label='IUCN status' placeholder='IUCN status'
                  model="$ctrl.supplier.iucnStatus" field='editForm.iucnStatus'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='speciesCertification'
                  label='Species Certification' placeholder='Species Certification'
                  model="$ctrl.supplier.speciesCertification" field='editForm.speciesCertification'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='certificatSupplied'
                  label='Ridley Species Certificate Supplied' placeholder='Ridley Species Certificate Supplied'
                  model="$ctrl.supplier.certificatSupplied" field='editForm.certificatSupplied'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='auditRecordSupplied'
                  label='Ridley RS Audit Record Supplied' placeholder='Ridley RS Audit Record Supplied'
                  model="$ctrl.supplier.auditRecordSupplied" field='editForm.auditRecordSupplied'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='qms'
                  label='QMS' placeholder='QMS' 
                  model="$ctrl.supplier.qms" field='editForm.qms' readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='govtManaged'
                  label="Gov&apos;t Managed" placeholder="Gov&apos;t Managed"
                  model='$ctrl.supplier.govtManaged' field="editForm.govtManaged"
                  readonly='$ctrl.readonly'></input-text>
      <input-choice class='col-md-4 form-group' label="Certificate" model='$ctrl.supplier.certType'
                    data="['IFFO', 'MSC', 'ASC', 'RTRS']" readonly='$ctrl.readonly'></input-choice>
      <input-select class='col-md-4 form-group' name='certType' label="Certificate"
                    data="['IFFO', 'MSC', 'ASC', 'RTRS']"
                    model='$ctrl.supplier.certType' field="editForm.certType"></input-select>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='supplierSite'
                  label='Supplier site' placeholder='Supplier site'
                  model="$ctrl.supplier.supplierSite" field='editForm.supplierSite'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='expiryDates'
                  label='MSC/IFFO/ASC/RTRS Expiry Dates' placeholder='MSC/IFFO/ASC/RTRS Expiry Dates'
                  model="$ctrl.supplier.expiryDates" field='editForm.expiryDates'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='link'
                  label='Link (IFFO/MSC/ASC/RTRS websites)' placeholder='Link (IFFO/MSC/ASC/RTRS websites)'
                  model="$ctrl.supplier.link" field='editForm.link'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='faoArea'
                  label='FAO area / CCAMLR area' placeholder='FAO area / CCAMLR area'
                  model="$ctrl.supplier.faoArea" field='editForm.faoArea'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='faoDesc'
                  label='FAO Description of Location' placeholder='FAO Description of Location'
                  model="$ctrl.supplier.faoDesc" field='editForm.faoDesc'
                  readonly='$ctrl.readonly'></input-text>
      <input-text class='col-md-4 form-group' required='true' name='faoLink'
                  label='FAO Link' placeholder='FAO Link'
                  model="$ctrl.supplier.faoLink" field='editForm.faoLink'
                  readonly='$ctrl.readonly'></input-text>
    </div>
    <div class="row">
      <input-text class='col-md-4 form-group' required='true' name='catchMethod'
                  label='Catching Method' placeholder='Catching Method'
                  model="$ctrl.supplier.catchMethod" field='editForm.catchMethod'
                  readonly='$ctrl.readonly'></input-text>
    </div>
  </fieldset>  
  <fieldset>
    <legend class="margin-bottom-5px">Additional Certificates</legend>
    <table id="certificate-table" class="table table-hover">
      <tr ng-repeat="item in $ctrl.level4Certs">
        <td>{{item.cert}}</td>
        <td>{{item.info}}</td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.removeExtraCertificate($index)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <select ng-model="$ctrl.extraCert">
            <option value="ISO 9001">ISO 9001 certification</option>
            <option value="ISO 14000">ISO 14000 certification</option>
            <option value="ISO 18000">ISO 18000 certification</option>
            <option value="ISO 22000">ISO 22000 certification</option>
            <option value="CCAMLR">CCAMLR certification</option>
            <option value="BAP">BAP certification</option>
            <option value="Global G.A.P.">Global G.A.P. certification</option>
            <option value="HACCP">HACCP certification</option>
            <option value="GMP">GMP certification</option>
            <option value="WWF">WWF certification</option>
            <option value="NOFIMA certification">NOFIMA certification</option>
            <option value="Debio Organic certification">Debio Organic certification</option>
            <option value="Dolphin Safe certification">Dolphin Safe certification</option>
            <option value="FEMAS">FEMAS certification</option>
            <option value="Friends of the Sea">Friends of the Sea certification</option>
            <option value="Naturland organic">Naturland organic certification</option>
            <option value="BASC">BASC certification</option>
            <option value="BSE Free">BSE Free Certificate</option>
            <option value="MSC CoC">MSC CoC Certification</option>
          </select>
        </td>
        <td>
          <input type="text" ng-model="$ctrl.extraCertInfo" class="form-control" 
                 placeholder="Information" readonly='$ctrl.readonly'>
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$ctrl.addExtraCertificate()"
                  ng-hide='$ctrl.readonly'>
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </tr>
    </table>
  </fieldset>-->
</form>